<h1>Search Tasks</h1>

<%= form_tag(tasks_search_path, method: 'get') do %>
  <%= text_field_tag :q, params[:q], placeholder: 'Search tasks...' %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @tasks.present? %>
  <h2>Search Results</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
