<div class=" subscribe">
  <div class="row justify-content-center">
    <div class="col-8">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your email" aria-label="email" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-info" type="button" id="button-addon2">Subscribe</button>
          </div>
        </div>
    </div>
  </div>
</div>


<style>

.subscribe {
    margin-top: 1em;
    margin-bottom: 1em;
    background: rgb(0, 128, 0, .3);
    padding: 5em 0;

}
h4 {
  margin: 2rem 0rem 1rem;
  text-align: center;
  color: #ccc
}
.subscribe button{
    background: #fff;
    color: rgb(0, 128, 0, .5);
    outline: none
}
</style>